<!DOCTYPE html>
<html lang="en">
<%var info%>
    <%var number=1%>
        <%var page%>
            <%var numberpage%>
                <% var remember%>
            <!-- <% var message%>
            <% var type%>
            <% if(message){ %>
                <div class="alert alert-<%=type%> alert-dismissible fade show" role="alert" style="text-align: center;">
                    <strong><%= message%></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
            <%}%> -->
                <head>
                    <meta charset="UTF-8">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <link rel="stylesheet" href="../../css/style.css">
                    <script src="https://kit.fontawesome.com/f87c891e2c.js" crossorigin="anonymous"></script>
                    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
                        rel="stylesheet"
                        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
                        crossorigin="anonymous">

                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
                        crossorigin="anonymous"></script>
                    <title>Customer Infomation</title>
                </head>

                <body>
                    <div class="sidenav">
                        <a href="/manager/sale?page=1&user=<%=remember%>">SaLing</a>
                        <a href="/manager/menu?page=1&user=<%=remember%>">Menu</a>
                        <a href="/manager/employeeinfo?page=1&user=<%=remember%>">Employee Infomation</a>
                        <a href="/manager/customerinfo?page=1&user=<%=remember%>">Custumer Infomation</a>
                        <a href="/manager?user=<%=remember%>">My Infomation</a>
                        <a href="/">Logout</a>
                    </div>
                    <div class="main-content">
                        <div class="title_taskbar"
                            style="width: 100%; height: 100px;background-color: black;position: center;margin: auto; font-size: 33px">
                            <a href="/manager?user=<%=remember%>">
                                <div class="text-center">
                                    <img src="../../img/JOEY2.png" class="rounded" alt="JR">
                                </div>
                            </a>
                        </div>
                        <div class="info-content">
                            <h1 style="width: 400px; margin: 0 auto 10px auto; text-align: center;">Customer Infomation
                            </h1>
                            <button type="button" class="btn btn-primary" style="float: right;" onclick="document.getElementById('addemployee').style.display='block'">
                                <i class="fas fa-user-plus" style="margin-right: 10px;"></i>Add
                            </button>
                            <div id="addemployee" class="modal">
                                <span onclick="document.getElementById('addemployee').style.display='none'" class="close"
                                    title="Close Modal">&times;</span>
                                <form class="signform" method="POST" action="/addemployee">
                                    <div class="form-inside">
                                        <h1 style="text-align: center">Add an Employee</h1>
                                        <input type="hidden" name="hidden" value="<%=remember%>">
                                        <label for="emusername">User</label>
                                        <input type="text" name="empusername" class="form-control" id="emusername" placeholder="Username"
                                            required autofocus>
                                        <label for="empass">Password</label>
                                        <input type="password" name="emppass" class="form-control" id="empass"
                                            required>
                                        <label for="emname">Name</label>
                                        <input type="text" name="empname" class="form-control" id="emname" placeholder="Name"
                                            required>
                                        <label for="design">Designation</label><br>
                                        <!-- <input type="text" name="designation" class="form-control" id="design" required placeholder="Designation"> -->
                                        <select name="design" class="form-select">
                                            <option value="Employee" selected>Employee</option>
                                            <option value="Cook">Cook</option>
                                            <option value="Manager">Manager</option>
                                        </select>
                                        <div class="clearfix">
                                            <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 20px;">Sign Up</button>
                                            <button type="button" onclick="document.getElementById('addemployee').style.display='none'"
                                                class="btn btn-danger" style="width: 100%;">Cancel</button>
                    
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <table class="table table-striped">
                            <thead> 
                            <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Password</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Designation</th>
                                    <th scope="col">Option</th>
                                </tr>
                            </thead>
                            <tbody id="print">
                                <%info.forEach(function(em){%>
                                    <tr>
                                        <th>
                                            <%=number%>
                                        </th>
                                        <th scope="row">
                                            <%=em.user_id%>
                                        </th>
                                        <td>
                                            <%=em.pass%>
                                        </td>
                                        <td>
                                            <%=em.user_name%>
                                        </td>
                                        <td>
                                            <%=em.status%>
                                        </td>
                                        <td>
                                            <%=em.designation%>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success" onclick="document.getElementById('changeemployee<%=em.user_id%>').style.display='block'">Change
                                            </button>
                                            <div id="changeemployee<%=em.user_id%>" class="modal">
                                                <span onclick="document.getElementById('changeemployee').style.display='none'" class="close"
                                                    title="Close Modal">&times;</span>
                                                <form class="signform" method="POST" action="/changeemployee">
                                                    <div class="form-inside">
                                                        <h1 style="text-align: center">Change an Employee</h1>
                                                        <input type="hidden" name="hidden" value="<%=remember%>">
                                                        <label for="chuserid">User</label>
                                                        <input type="text" name="chuserid" class="form-control" 
                                                        readonly value="<%=em.user_id%>" >
                                                        <label for="pass">Password</label>
                                                        <input type="password" name="chppass" class="form-control" 
                                                        disabled value="<%=em.pass%>">
                                                        <label for="name">Name</label>
                                                        <input type="text" name="chpname" class="form-control" placeholder="Name"
                                                            value="<%=em.user_name%>">
                                                        <label for="design">Designation</label><br>
                                                        <!-- <input type="text" name="designation" class="form-control" id="design" required placeholder="Designation"> -->
                                                        <select name="chdesign" class="form-select">
                                                            <option value="Employee" selected>Employee</option>
                                                            <option value="Cook">Cook</option>
                                                            <option value="Manager">Manager</option>
                                                        </select>
                                                        <div class="clearfix">
                                                            <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 20px;">Change</button>
                                                            <button type="button" onclick="document.getElementById('changeemployee<%=em.user_id%>').style.display='none'"
                                                                class="btn btn-danger" style="width: 100%;">Cancel</button>
                                    
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <button type="submit" class="btn btn-danger" onclick="window.location.href='/manager/deleteemployee?user_id=<%=em.user_id%>&user=<%=remember%>'; return confirm('Are you sure?')">Delete</button>
                                        </td>
                                    </tr>
                                    <% number +=1%>
                                        <% }); %>
                            </tbody>
                        </table>
                    </div>
                        <nav aria-label="Page navigation example" style="text-align: center;">
                            <ul class="pagination">
                                <% if (page> 1){%>
                                    <li class="page-item"><a class="page-link"
                                            href="/manager/employeeinfo?page=<%=parseInt(page)-1%>&user=<%=remember%>">Previous</a></li>
                                    <% } %>
                                        <% if (page==1) {%>
                                            <li class="page-item"><a class="page-link">Previous</a></li>
                                            <%}%>
                                                <%for(var i=1; i< Math.ceil(numberpage) + 1; ++i){%>
                                                    <%if(i==page){%>
                                                        <li class="page-item active"><a class="page-link"
                                                                href="/manager/employeeinfo?page=<%=parseInt(i)%>&user=<%=remember%>">
                                                                <%=i%>
                                                            </a></li>
                                                        <%} else{%>
                                                            <li class="page-item"><a class="page-link"
                                                                    href="/manager/employeeinfo?page=<%=parseInt(i)%>&user=<%=remember%>">
                                                                    <%=i%>
                                                                </a></li>
                                                            <%}%>
                                                                <%}%>
                                                                    <% if (page <=(numberpage)){%>
                                                                        <li class="page-item"><a class="page-link"
                                                                                href="/manager/employeeinfo?page=<%=parseInt(page) +1%>&user=<%=remember%>">Next</a>
                                                                        </li>
                                                                        <% } %>
                                                                            <% if (page> (numberpage)){%>
                                                                                <li class="page-item"><a
                                                                                        class="page-link">Next</a></li>
                                                                                <% } %>
                            </ul>
                        </nav>
                        <footer class="bg-dark text-center text-white">
                            <div class="container p-4 pb-0">
                              <section class="mb-4">
                                <a
                                  class="btn btn-outline-light btn-floating m-1"
                                  href="https://www.facebook.com/whit3sh4dow/"
                                  target="_blank"
                                  role="button"
                                  ><i class="fab fa-facebook-f"></i
                                ></a>
                      
                                <a
                                  class="btn btn-outline-light btn-floating m-1"
                                  href="https://twitter.com/NguynMi15952450"
                                  target="_blank"
                                  role="button"
                                  ><i class="fab fa-twitter"></i
                                ></a>
                      
                                <a
                                  class="btn btn-outline-light btn-floating m-1"
                                  href="https://mail.google.com/mail/u/0/#inbox"
                                  role="button"
                                  target="_blank"
                                  ><i class="fab fa-google"></i
                                ></a>
                      
                                <a
                                  class="btn btn-outline-light btn-floating m-1"
                                  href="https://github.com/N0tail12"
                                  role="button"
                                  target="_blank"
                                  ><i class="fab fa-github"></i
                                ></a>
                              </section>
                            </div>
                      
                            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                              © 2021 Copyright:
                              <a
                                class="text-white"
                                href="https://www.facebook.com/whit3sh4dow/"
                                target="_blank"
                                >N0tail12</a
                              >
                            </div>
                            <!-- Copyright -->
                          </footer>
                        </div>

                        <script>
                            // Get the modal
                            var addemployee = document.getElementById('addemployee');
                            var changeemployee = document.getElementById('changeemployee')
                            // When the user clicks anywhere outside of the modal, close it
                            window.onclick = function (event) {
                                if (event.target == addemployee) {
                                    addemployee.style.display = "none";
                                }
                                if (event.target == changeemployee) {
                                    changeemployee.style.display = "none";
                                }
                            }
                        </script>
                </body>

</html>